.App {
  align-content: center;
  background-image: url(/assets/fernando-rodrigues-745616-unsplash.jpg);
  text-align: center;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;

  margin: 0;
  padding: 0;
}

.modal {
  overflow: hidden;
}



